.DS_Store
.vscode/
data/supermarket_sales_clean.csv
.env
.venv/
data/incoming/*.csv
.airflow-venv/
airflow/*
!airflow/dags/
!airflow/dags/**
data/landing/*.csv
data/processed/*.csv
# Python cache files
__pycache__/
*.py[cod]

